<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Hyper news </title>
<!--    <style>-->
<!--body {-->
<!--    background-color: #00880020;-->
<!--    position: fixed;-->
<!--    left: 44%;-->
<!--    text-align: center;-->
<!--}-->
<!--li {-->
<!--  list-style-type: none;-->
<!--  display: flex;-->
<!--  align-items: center;-->
<!--}-->
<!--li:before {-->
<!--  content: "■";-->
<!--  margin-left: 11px;-->
<!--  margin-right: 11px;-->
<!--}-->
<!--    </style>-->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/news/"><h1> Hyper news</h1></a>
        <hr>
    {% block content %}

    {% endblock %}

</body>

</html>
